@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Acme', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 4rem;
    list-style: none;
    text-decoration: none;
}

body{
    background-color: #19282F;
}


h2.welcome{
    text-align: center;
    font-weight: 900;
    color: #fff;
}

p.quote{
    color: #A1B57D;
    font-size: 20px;
}

p.author{
    color: #B33030;
}

.fix{
    width: 100%;
    height: 100%;
}

.panel{
    background-color: #A1B57D;
    color: #fff;
    font-family: 'Acme', sans-serif;
    width: 300px;
    display: grid;
    justify-content: center;
    margin-top: 5px;
    font-weight: 650;
    font-size: 15px;
}

.box{
  margin-top: 3rem;
  width: 300px;
  border-radius: 8px;
  box-shadow: 2px 2px 2px 2px #fff;
  margin-left: auto;
  margin-right: auto;
}

.panel-head{
    color: #19282F;
    font-weight: 750;
    text-decoration: underline;
}

.text-muted{
    color: #B33030;
}

.panel-footer{
    background-color: #19282F;
}

.bi{
    color: #fff;
}

.comment{
    color: #A1B57D;
}

.comment-blog{
    color: grey;
}

.comment-date{
    color: #B33030;
}

.comment-uname{
    color: #fff;
}

.blogging{
    color: #fff;
}

.panel-default{
    background-color: #fff;
    color: #000;

}

.daccount{
    color:#fff;
}

.login{
    color: #fff;
}

.navbar{
    background-color: #fff;
}

.navbar-default{
    background-image: url(
    "data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 0, 0, 0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

flash{
    color: #B33030;
}

.update{
    color: #fff;
}

h1.text-center{
    color: #fff;
}

.fa-user{
    color: grey;
}

.submit{
    background-color: grey;
    color: #fff;
    border: none;
    padding: 5px;
    border-radius: 5px;
}

.submit:hover{
    color: #fff;
    background-color: #B33030;
}

.bio-uname{
    color: #fff;
}

.bio-date{
    color: #B33030;
}

.name-bio{
    color: #B33030;
}

.bio{
    color: #B33030;
}

.no-bio{
    color: grey;
}

.bio-bio{
    color: #fff;
}

