{% extends 'base.html' %}

{%block content%}

<div class="home">
    <div class="container">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div>
                <h2 class="welcome">This is oriBlog Website, A Blog closer to Home</h2>
                <hr>
                <p>{{blogQuote.quote}}</p>

                <p class="text-right"><b>~ {{blogQuote.author}} ~</b> </p>

            </div>
        </div>
        <div class="col-md-2"></div>
    </div>

</div>
{% endblock %}